<div class="pink-bg pb-10">
    <div class="container mt-top mb-6">
        <div class="row pt-10">
            <div class="col-md-6 flex max-md:pb-12">
                <div class="my-auto max-md:text-center md:text-start">
                    <h2 class="mb-4">
                        Nous sommes des esthéticiennes passionnées et des artistes maquilleuses basées à Antananarivo
                    </h2>
                    <p class="mb-4">
                        À la recherche des meilleurs services de beauté et de spa en ville ? Notre équipe de professionnelles expérimentées propose tous les services de beauté que vous attendiez.
                    </p>
                    <button class="pink-button">
                        Demandez un rendez-vous
                    </button>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <img
                        class="hero-homepage"
                        src="https://res.cloudinary.com/dje2mveih/image/upload/v1708802008/assets/about-img_gi91qk.jpg"
                        alt="Présentation Sinel Salon"
                >
            </div>
        </div>
    </div>
</div>