<div class="py-8 mt-top">
    <div class="container  my-8">
        <div class="row mb-4">
            <div class="col-md-3 profile-menu">
                <div
                    class="mb-1"
                    *ngFor="let link of links"
                >
                    <app-profile-link
                            [link]="link"
                    />
                </div>
            </div>
            <div class="col-md-9">
                <router-outlet />
            </div>
        </div>
    </div>
</div>