<main >
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Connectez-vous</small>
              </div>
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" role="form">
                <div class="form-group mb-3" >
                  <div
                          class="input-group input-group-alternative"
                          [class.valid]="loginForm.get('email').valid &&
                            (loginForm.get('email').dirty || loginForm.get('email').touched)"
                          [class.invalid]="loginForm.get('email').invalid &&
                            (loginForm.get('email').dirty || loginForm.get('email').touched)"
                  >
                    <input
                            formControlName="email"
                            class="form-control"
                            placeholder="Email"
                            type="email"
                    >
                  </div>

                  <div *ngIf="loginForm.get('email').invalid &&
                              loginForm.get('email').errors &&
                              (loginForm.get('email').dirty || loginForm.get('email').touched)"
                  >
                    <small class="text-red-500" *ngIf="loginForm.get('email').hasError('required')">
                      Ce champs est requis
                    </small>
                  </div>
                </div>
                <div class="form-group" >
                  <div
                          class="input-group input-group-alternative"
                          [class.valid]="loginForm.get('password').valid &&
                            (loginForm.get('password').dirty || loginForm.get('password').touched)"
                          [class.invalid]="loginForm.get('password').invalid &&
                            (loginForm.get('password').dirty || loginForm.get('password').touched)"
                  >
                    <input
                            formControlName="password"
                            class="form-control"
                            placeholder="Mot de passe"
                            type="password"
                    >
                  </div>
                  <div *ngIf="loginForm.get('password').invalid &&
                              loginForm.get('password').errors &&
                              (loginForm.get('password').dirty || loginForm.get('password').touched)"
                  >
                    <small class="text-red-500" *ngIf="loginForm.get('password').hasError('required')">
                      Ce champs est requis
                    </small>
                  </div>
                </div>
                <div class="flex justify-center flex-col">
                  <button type="submit" class="btn btn-black bg-black mb-3" [disabled]="!loginForm.valid">Se connecter</button>
                  <button type="button" class="btn" [routerLink]="['/register']">S'inscrire</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

