.feedback {
    border-radius: 10px;

    & p & i {
        font-size: 12px;
    }

    .user {
        display: flex;

        .user-img {
            width: 40px;
            border-radius: 100%;
        }

        & span {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 15px;
        }

    }

}