<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="4">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate >
                <h1>Connexion</h1>
                <p class="text-medium-emphasis">Connectez-vous a votre compte</p>
                <c-input-group class="mb-3">
                  <input
                    [valid]=" loginForm.get('email')?.touched ? loginForm.get('email')?.valid : undefined"
                    autoComplete="email"
                    cFormControl placeholder="Email"
                    formControlName="email"
                  />
                  <c-form-feedback [valid]="false" [hidden]="!loginForm.get('email')?.errors?.['required']">Champ obligatoire</c-form-feedback>
                  <c-form-feedback [valid]="false" [hidden]="!loginForm.get('email')?.errors?.['email']">Format invalide</c-form-feedback>
                </c-input-group>
                <c-input-group class="mb-4">
                  <input
                    [valid]=" loginForm.get('password')?.touched ? loginForm.get('email')?.valid : undefined"
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Mot de passe"
                    type="password"
                    formControlName="password"
                    required
                  />
                  <c-form-feedback [valid]="false">Champ obligatoire</c-form-feedback>
                </c-input-group>
                <c-row>
                  <c-col xs="12">
                    <button cButton class="px-4 w-100" color="primary" [disabled]="loginForm.invalid" type="submit">
                      Se connecter
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
