<h1>Tableau de bord</h1>
<div>
  <c-card class="mb-2 flex-grow-1">
    <c-card-header>
      <h2 class="m-0">Chiffres d'affaires</h2>
    </c-card-header>
    <c-card-body>
      <div class="chart-header">
        <h3 class="chart-header-date">
          <span>
            Statistiques pour
          </span>
          <select cSelect class="chart-header-select" *ngIf="salesMode === 'month'" [formControl]="salesChartSelectedMonth">
            <option value="{{i}}" *ngFor="let i of months">{{getMonthName(i)}}</option>
          </select>
          <select cSelect class="chart-header-select" [formControl]="salesChartSelectedYear">
            <option value="{{i}}" *ngFor="let i of years">{{i}}</option>
          </select>
        </h3>
        <c-button-group>
          <button cButton [active]="salesMode === 'month'" (click)="handleSalesModeChange('month')" color="primary" variant="outline">Mois</button>
          <button cButton [active]="salesMode === 'year'" (click)="handleSalesModeChange('year')" color="primary" variant="outline">Année</button>
        </c-button-group>
      </div>
      <div>
        <c-chart
          [data]="salesChartData"
          (chartRef)="handleSalesChartRef($event)"
          height="200"
          type="line">
        </c-chart>
      </div>
    </c-card-body>
  </c-card>
  <c-card class="mb-2 flex-grow-1">
    <c-card-header>
      <h2 class="m-0">Rendez-vous</h2>
    </c-card-header>
    <c-card-body>
      <div>
        <div class="chart-header">
          <h3 class="chart-header-date">
          <span>
            Statistiques pour
          </span>
            <select cSelect class="chart-header-select" *ngIf="appointmentCountMode === 'month'" [formControl]="appointmentCountChartSelectedMonth">
              <option value="{{i}}" *ngFor="let i of months">{{getMonthName(i)}}</option>
            </select>
            <select cSelect class="chart-header-select" [formControl]="appointmentCountChartSelectedYear">
              <option value="{{i}}" *ngFor="let i of years">{{i}}</option>
            </select>
          </h3>
          <c-button-group>
            <button cButton [active]="appointmentCountMode === 'month'" (click)="handleAppointmentModeChange('month')" color="primary" variant="outline">Mois</button>
            <button cButton [active]="appointmentCountMode === 'year'" (click)="handleAppointmentModeChange('year')" color="primary" variant="outline">Année</button>
          </c-button-group>
        </div>
      </div>
      <div>
        <c-chart
          [data]="appointmentCountChartData"
          (chartRef)="handleAppointmentCountChartRef($event)"
          height="200"
          type="line">
        </c-chart>
      </div>
    </c-card-body>
  </c-card>
</div>
<c-card>
  <c-card-header>
    <h2 class="m-0">Temps de travail</h2>
  </c-card-header>
  <c-card-body>
    <div class="chart-header">
      <h3 class="chart-header-date">
        <span>
          Statistiques pour
        </span>
        <select cSelect class="chart-header-select" *ngIf="salesMode === 'month'" [formControl]="workingTimeSelectedMonth">
          <option value="{{i}}" *ngFor="let i of months">{{getMonthName(i)}}</option>
        </select>
        <select cSelect class="chart-header-select" [formControl]="workingTimeSelectedYear">
          <option value="{{i}}" *ngFor="let i of years">{{i}}</option>
        </select>
      </h3>
    </div>
    <table mat-table [dataSource]="workingTimeDataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          <span class="font-bold">
            Nom
          </span>
        </th>
        <td mat-cell *matCellDef="let workingTime">{{workingTime.employee.name}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
          <span class="font-bold">
            Email
          </span>
        </th>
        <td mat-cell *matCellDef="let workingTime">{{workingTime.employee.email}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="workingTime">
        <th mat-header-cell *matHeaderCellDef>
          <span class="font-bold">
            Temps de travail moyen par jour
          </span>
        </th>
        <td mat-cell *matCellDef="let workingTime">{{workingTime.meanWorkingTime | duration: "m" : "m"}}</td>
        <td mat-footer-cell class="font-bold" *matFooterCellDef>Moyenne générale: {{calculateWorkingTimeGeneralMean() | duration : "m": "m"}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="workingTimeDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: workingTimeDisplayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="workingTimeDisplayedColumns"></tr>
    </table>
  </c-card-body>
</c-card>
