<div class="mb-6">
    <div class="mb-4">
        <h4>Informations générales</h4>
    </div>
    <table class="general-info-table">
        <tr>
            <th>Référence</th>
            <td>{{ appointment._id }}</td>
        </tr>
        <tr>
            <th>Date du rendez-vous</th>
            <td>{{ appointment.appointmentDate | date: 'dd MMMM yyyy à hh:mm' }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>
                <span class="badge {{getStatusBadge(appointment.status)}}">{{appointment.status | appointmentStatus}}</span>
            </td>
        </tr>
        <tr>
            <th>Prix total</th>
            <td>{{appointment.estimatedPrice | number: "4.0-0"}} MGA</td>
        </tr>
        <tr>
            <th>Durée estimée</th>
            <td>{{appointment.estimatedDuration | duration: "m":"m"}}</td>
        </tr>
    </table>
</div>