<div class="py-16">
    <div class="container  my-8">
        <div class="row mb-4">
            <div class="col-12 text-center flex justify-content-center">
                <div class="icon-phone"><fa-icon [icon]="faCalendarAlt" /></div>
            </div>
            <div class="col-12 text-center md:px-20">
                <h2 class="my-4">Prise de rendez-vous</h2>
                <p class="mb-4">
                    Contactez-nous sur <a href="tel:+261 34 13 169 10">+261 34 13 169 10</a> pour réserver votre créneau ou prendre rendez-vous en ligne en toute simplicité. Notre équipe est prête à vous offrir une expérience beauté exceptionnelle selon vos disponibilités.
                </p>
                <button class="pink-button mt-4">Prendre un rendez-vous</button>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
