<div class="pink-bg mt-top mb-4">
    <div class="container">
        <div class="row justify-content-center text-center p-20">
            <h3>Details de votre rendez-vous</h3>
        </div>
    </div>
</div>

<main class="profile-page mb-8" *ngIf="appointment">
  <section class="section p-0">
    <div class="container">
        <div class="px-4">
            <app-appointment-general-info [appointment]="appointment" />

          <div class="mb-6">
            <div class="mb-4">
              <h4>Services</h4>
            </div>
            <div>

              <table
                    class="general-info-table"
                  mat-table
                  [dataSource]="appointment.elements">
                <ng-container matColumnDef="service">
                  <th mat-header-cell *matHeaderCellDef>
                    <span class="font-bold">
                      Service
                    </span>
                  </th>
                  <td mat-cell *matCellDef="let details">{{details.service.name}}</td>
                </ng-container>
                <ng-container matColumnDef="employee">
                  <th mat-header-cell *matHeaderCellDef>
                    <span class="font-bold">
                      Employé assigné
                    </span>
                  </th>
                  <td mat-cell *matCellDef="let details">{{details.employee.name}}</td>
                </ng-container>
                <ng-container matColumnDef="duration">
                  <th mat-header-cell *matHeaderCellDef>
                    <span class="font-bold">
                      Durée
                    </span>
                  </th>
                  <td mat-cell *matCellDef="let details">{{details.service.duration | duration: "m": "m"}}</td>
                </ng-container>
                <ng-container matColumnDef="price">
                  <th mat-header-cell *matHeaderCellDef>
                    <span class="font-bold">
                      Prix
                    </span>
                  </th>
                  <td mat-cell *matCellDef="let details">{{details.service.price | number: "4.0-0"}} MGA</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>

          <div class="mb-3">
            <button
                *ngIf="appointment.status === EApointmentStatus.VALIDATED"
                class="pink-button me-4"
                routerLink="/rendez-vous/paiement"
                [state]="appointment"
            >Payer</button>
              <button
                  *ngIf="appointment.status <= EApointmentStatus.VALIDATED"
                  class="btn btn-light">
                  Annuler ma demande
              </button>
          </div>

        </div>
      </div>
  </section>
</main>