<nav class="fixed w-full z-10 text-black pink-bg">
    <div class="container">
        <div class="row">
            <div class="col-12 py-8 flex justify-content-between">
                <app-logo/>
                <div class="menu-container">
                    <app-header-link *ngFor="let link of links" [link]="link"/>
										<app-notification class="ms-2" />
                    <app-user class="ms-4" />
                </div>
                <div class="hamburger mobile-menu">
										<app-notification class="me-4" />
                    <fa-icon
                        (click)="mobileMenuActive = true"
                        [icon]="faBars"
                        class="hamburger-icon me-2"
                    />
                </div>
            </div>
        </div>
    </div>
</nav>

<div
    class="mobile-menu"
    [class.d-none]="!mobileMenuActive"
>
    <div class="position-fixed bg-white w-100 h-100 z-20 p-10">
        <div class="mb-6 flex justify-content-between">
            <app-logo />
            <div class="my-auto flex">
								<fa-icon
									class="my-auto me-2"
									[icon]="faX"
									(click)="mobileMenuActive = false"
								/>
            </div>
        </div>
        <div *ngFor="let link of links" class="mobile-header-element">
            <app-header-link
                [link]="link"
                (click)="mobileMenuActive = false"
            />
        </div>
        <div class="mobile-header-element mt-5">
            <app-user
                class="w-100"
                (click)="mobileMenuActive = false"
            />
        </div>
    </div>
</div>
