<nav class="fixed w-full z-10 text-black bg-white shadow">
  <div class="flex flex-row items-center container py-3">
    <h1 class="flex justify-center flex-1 text-black text-3xl">
      BEAUTY
    </h1>
    <div ngbDropdown>
      <div class="pr-3 hover:cursor-pointer dropdown-toggle" ngbDropdownToggle>
        <fa-icon [icon]="faUser" ></fa-icon>
      </div>
      <div ngbDropdownMenu>
        <div class="dropdown-item hover:cursor-pointer" *ngFor="let element of userMenuElements" [routerLink]="element.link" (click)="element.fn ? element.fn() : null ">{{element.label}}</div>
      </div>
    </div>
  </div>
</nav>
