<c-card class="mb-5">
    <c-card-header>
        <h2 class="m-0">Création de service</h2>
    </c-card-header>
    <c-card-body>
        <app-form
            [actions]="formActions"
            [inputs]="formInputs"
            [method]="apiCallFunctionOnSubmit.bind(this)"
            [onsuccess]="onApiCallSuccess.bind(this)"
        >
            <div class="col-lg-6 mb-4">
                <uppy-dashboard
                    *ngIf="fileUploader"
                    [uppy]="fileUploader"
                />
            </div>
        </app-form>
    </c-card-body>
</c-card>

