<footer class="footer w-full pink-bg" >
  <div class="container">
    <div class="row">
      <div class="col-md-3">
          <app-logo />
      </div>
        <div class="col-md-3">
            <h5>Services</h5>
            <app-header-link
                *ngFor="let service of services"
                [link]="{
                    name: service.name,
                    link: '#'
                }"
            />
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-12">
                    <h5>Email</h5>
                </div>
                <div class="col-12">
                    <h5>Adresse</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h5>
                Horaires
            </h5>
        </div>
    </div>
    <hr>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{date | date: 'yyyy'}}
        </div>
      </div>
    </div>
  </div>
</footer>
