<div class="pink-bg py-14">
    <div class="container my-8">
        <div class="row">
            <div class="col-md-6">
                <img
                        src="https://res.cloudinary.com/dje2mveih/image/upload/v1708808330/assets/about-image_ypvhgm.jpg"
                        alt="À propos de nous"
                        class="about-us-img"
                >
            </div>
            <div class="col-md-6 flex ">
                <div class="md:ms-4 my-auto">
                    <h2 class="mb-4">À propos de nous</h2>
                    <p class="font-weight-bold">
                        <b>Nous sommes une équipe de 8 professionnels de la beauté certifiés, cumulant plus de 10 ans d'expérience et bénéficiant de certifications qui louent notre travail.</b>
                    </p>
                    <p>
                        Découvrez nos services de beauté exceptionnels, de l'épilation aux coupes de cheveux, sans rendez-vous. Forts de diplômes des meilleures écoles et d'une collaboration avec les meilleurs experts, nous sommes les maîtres du bien-être en ville.
                    </p>
                    <p class="mb-8">
                        Des centaines de clients comblés nous font confiance pour des occasions spéciales comme les mariages et les soirées. Pour une retouche rapide ou une thérapie de beauté approfondie, faites-nous confiance.
                    </p>
                    <button class="pink-button">
                        Demandez un rendez-vous
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>