/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bootstrap/dist/css/bootstrap.css';
@import "bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .btn-black {
        @apply bg-black text-white;
    }
    .btn-black:hover {
        @apply bg-gray-900 text-white;
    }
    .invalid {
        @apply !border-red-500 !border-solid !border;
    }
    .valid {
        @apply !border-green-500 !border-solid !border;
    }
}

router-outlet + * {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.cdk-overlay-container {
    z-index: 10000 !important;
}

* {
    font-family: 'PT Serif', serif;
}

:root {
    --pink-text: rgb(238, 101, 103);
    --pink-bg: rgb(255, 245, 245);
}

.pink-bg {
    background-color: var(--pink-bg);
}

.pink-button {
    background-color: var(--pink-text);
    color: white;
    padding: 12px 22px;
    border-radius: 10px;
}

.pink-button:hover {
    opacity: 1.2;
}

.mt-top {
    margin-top: 100px;
}