<main class="h-full">
  <div class="position-relative h-full">
    <!-- Hero for FREE version -->
    <section class="section-hero section-shaped h-full vh-100">
      <!-- Background circles -->
      <div class="absolute right-[10%] z-10 text-white w-[450px] h-full">
        <div class="flex flex-col justify-center h-full">
          <div class="bg-gray-600 bg-opacity-5 p-3 rounded shadow">
            <h1 class="mb-3 text-black">Bienvenue chez Beauty</h1>
            <div class="mb-10 text-xl text-black">
              Chez nous, votre bien-être est notre priorité. Nous vous offrons une gamme de services de qualité pour vous
              aider à vous sentir bien dans votre peau. Prenez rendez-vous dès maintenant pour une expérience unique.
            </div>
            <div>
              <button class="btn btn-primary btn-lg" [routerLink]="['/make-appointment']">Prendre rendez-vous</button>
            </div>
          </div>
        </div>
      </div>
      <ngb-carousel [interval]="8000" class="h-full" [showNavigationArrows]="false" [pauseOnHover]="false">
        <ng-template ngbSlide *ngFor="let image of images" class="h-full">
          <div style="filter: blur(3px);background-image: url({{image}})" class="h-full bg-no-repeat bg-cover">
          </div>
        </ng-template>
      </ngb-carousel>
      <!-- SVG separator -->
    </section>
  </div>
</main>
