<div class="py-8">
    <div class="container  my-8">
        <div class="row mb-4">
            <div class="col-12 text-center">
                <h2 class="mb-4">Notre équipes</h2>
                <p class="md:px-24">Notre équipe enthousiaste et talentueuse est dédiée à vous sublimer, mettant en œuvre son savoir-faire pour révéler votre beauté unique. Avec passion et expertise, nous créons des expériences de beauté exceptionnelles pour chaque client.</p>
            </div>
        </div>
        <div class="row">
            <div *ngFor="let member of members" class="col-md-3">
                <app-team-member-card
                    [member]="member"
                />
            </div>
        </div>
    </div>
</div>
